*.png
cache/png_input/1_100.mat
cache/png_input/denoised.gif
cache/png_input/measurement.mat
cache/png_input/noisy.gif
cache/png_input/vid_denoised.mat
cache_raw/png_input/1_100.mat
cache_raw/png_input/denoised.gif
cache_raw/png_input/measurement.mat
cache_raw/png_input/noisy.gif
cache_raw/png_input/vid_denoised.mat
cache_raw2/png_input/1_100.mat
cache_raw2/png_input/denoised.gif
cache_raw2/png_input/measurement.mat
cache_raw2/png_input/noisy.gif
cache_raw2/png_input/vid_denoised.mat
cache_raw3/png_input/1_100.mat
cache_raw3/png_input/denoised.gif
cache_raw3/png_input/measurement.mat
cache_raw3/png_input/noisy.gif
cache_raw3/png_input/vid_denoised.mat
cache_raw_notemp/png_input/1_100.mat
cache_raw_notemp/png_input/denoised.gif
cache_raw_notemp/png_input/measurement.mat
cache_raw_notemp/png_input/noisy.gif
cache_raw_notemp/png_input/vid_denoised.mat
cache_raw_t075_s1/png_input/1_100.mat
cache_raw_t075_s1/png_input/denoised.gif
cache_raw_t075_s1/png_input/measurement.mat
cache_raw_t075_s1/png_input/noisy.gif
cache_raw_t075_s1/png_input/vid_denoised.mat
cache_raw_t15_s05/png_input/1_100.mat
cache_raw_t15_s05/png_input/denoised.gif
cache_raw_t15_s05/png_input/measurement.mat
cache_raw_t15_s05/png_input/noisy.gif
cache_raw_t15_s05/png_input/vid_denoised.mat
cache_raw_t15_s05_200/png_input/1_100.mat
cache_raw_t15_s05_200/png_input/denoised.gif
cache_raw_t15_s05_200/png_input/measurement.mat
cache_raw_t15_s05_200/png_input/noisy.gif
cache_raw_t15_s05_200/png_input/vid_denoised.mat
cache_raw_try_all/png_input/1_100.mat
cache_raw_try_all/png_input/measurement.mat
cache_raw_try_all/png_input/851_950.mat
cache_raw_try_all/png_input/801_900.mat
cache_raw_try_all/png_input/751_850.mat
cache_raw_try_all/png_input/701_800.mat
cache_raw_try_all/png_input/651_750.mat
cache_raw_try_all/png_input/601_700.mat
cache_raw_try_all/png_input/551_650.mat
cache_raw_try_all/png_input/51_150.mat
cache_raw_try_all/png_input/501_600.mat
cache_raw_try_all/png_input/451_550.mat
cache_raw_try_all/png_input/401_500.mat
cache_raw_try_all/png_input/351_450.mat
cache_raw_try_all/png_input/301_400.mat
cache_raw_try_all/png_input/251_350.mat
cache_raw_try_all/png_input/201_300.mat
cache_raw_try_all/png_input/151_250.mat
cache_raw_try_all/png_input/101_200.mat
