*.png
cache/png_input/1_100.mat
cache/png_input/denoised.gif
cache/png_input/measurement.mat
cache/png_input/noisy.gif
cache/png_input/vid_denoised.mat
cache_raw/png_input/1_100.mat
cache_raw/png_input/denoised.gif
cache_raw/png_input/measurement.mat
cache_raw/png_input/noisy.gif
cache_raw/png_input/vid_denoised.mat
cache_raw2/png_input/1_100.mat
cache_raw2/png_input/denoised.gif
cache_raw2/png_input/measurement.mat
cache_raw2/png_input/noisy.gif
cache_raw2/png_input/vid_denoised.mat
cache_raw3/png_input/1_100.mat
cache_raw3/png_input/denoised.gif
cache_raw3/png_input/measurement.mat
cache_raw3/png_input/noisy.gif
cache_raw3/png_input/vid_denoised.mat
cache_raw_notemp/png_input/1_100.mat
cache_raw_notemp/png_input/denoised.gif
cache_raw_notemp/png_input/measurement.mat
cache_raw_notemp/png_input/noisy.gif
cache_raw_notemp/png_input/vid_denoised.mat
cache_raw_t075_s1/png_input/1_100.mat
cache_raw_t075_s1/png_input/denoised.gif
cache_raw_t075_s1/png_input/measurement.mat
cache_raw_t075_s1/png_input/noisy.gif
cache_raw_t075_s1/png_input/vid_denoised.mat
cache_raw_t15_s05/png_input/1_100.mat
cache_raw_t15_s05/png_input/denoised.gif
cache_raw_t15_s05/png_input/measurement.mat
cache_raw_t15_s05/png_input/noisy.gif
cache_raw_t15_s05/png_input/vid_denoised.mat
cache_raw_t15_s05_200/png_input/1_100.mat
cache_raw_t15_s05_200/png_input/denoised.gif
cache_raw_t15_s05_200/png_input/measurement.mat
cache_raw_t15_s05_200/png_input/noisy.gif
cache_raw_t15_s05_200/png_input/vid_denoised.mat
cache_raw_try_all/png_input/1_100.mat
cache_raw_try_all/png_input/measurement.mat
